<h1>Bitcoin Prices</h1>
<div>
  <!-- <p>Select Market: </p> -->
  <mat-form-field>
    <mat-select placeholder="Select Market">
      <mat-option *ngFor="let item of marketsDataObservable | async" [value]="item.symbol" (click)="onMarketSelect(item.symbol)">
        {{item.symbol}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <select>
    <option *ngFor="let item of marketsDataObservable | async" [value]="item" onclick="">{{(item | async)}}</option>
  </select> -->
</div>
<div style="width: 100vw; height: 75vh;">
  <ngx-charts-line-chart  [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
    [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale" (select)="onSelect($event)">
  </ngx-charts-line-chart>
</div>
