<mat-toolbar color="primary">
  <div class="navbar">
    <h1 class="title">Autorun training app</h1>
    <a routerLink='bitcoin'>Bitcoin Module</a>
  </div>
 <app-weather></app-weather>
</mat-toolbar>
