.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: 100%;
  .title {
    padding: 0 5px;
    margin-right: auto;
    @media screen and (max-width: 720px){
      margin-right: 0;
    }
  }
  a {
    padding: 0 5px;
  }
}
