<div class="weather-component">
  <h2>Current Weather</h2>
  <div class="weather-data">
    <p>{{(weatherObservable | async)?.the_temp | temperature}}</p>
    <!-- <p>{{(weatherObservable | async)?.weather_state_name}} </p> -->
    <img [src]="(weatherObservable | async)?.weather_state_abbr" alt="">
  </div>

</div>
