$main-color: rgb(238, 232, 235);
$secondary-color: rgb(163, 148, 148);
$background-color: #212121;

.weather-component {
  // background-color: $background-color;
  color: $main-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2   {
    &:hover {
      color: $secondary-color;
    }
  }
  .weather-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      padding: 0 5px;
    }
    img {
      width: 30px;
      height: 30px;
      // object-fit: scale-down;
    }
  }
}
