/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css?family=Kosugi|Lato');
$page-main-font: 'Lato', sans-serif;
$page-secondary-font: 'Kosugi', sans-serif;
$page-background: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $page-main-font;
  background-color: $page-background;
  min-height: 100vh;
}
